dequel-editor {
  display: block;
  width: 100%;

  .cm-editor {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    opacity: 0.9;
    caret-color: rgb(59 130 246);
    width: 100%;
    transition: all 0.2s ease-out;
  }

  .cm-cursor {
    border-left: 2px solid rgb(59 130 246) !important;
  }

  .cm-editor.cm-focused {
    filter: none;
    opacity: 1;
    outline: none;
  }

  .condition {
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: rgb(236 254 255);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: inline-block;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .condition:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transform: translateY(-2px);
  }

  .condition--exclude .cnd-fld {
    color: rgb(251 191 36);
  }

  .condition--ignored {
    filter: grayscale(1) blur(2px);
    transition: all 0.3s;
    opacity: 0.5;
  }

  .condition--ignored:hover {
    filter: grayscale(1) blur(0px);
  }

  .cnd-fld {
    color: rgb(59 130 246);
  }

  :is(.dark .cnd-fld) {
    color: rgb(147 197 253);
  }

  .cnd-op {
    color: rgb(156 163 175);
  }

  .cnd-val {
    color: rgb(15 118 110);
  }

  :is(.dark .cnd-val) {
    color: rgb(94 234 212);
  }

  edq-editor {
    white-space: pre;
    display: block;
  }
}

.preview {
  max-height: min(30vh, 400px);
  box-shadow: inset 2px 2px 3px hsl(0 0% 0% / 0.3);
  background-color: hsl(0 0 0 / 0.01);
  border: 1px solid hsl(0 0 0 / 0.2);

  :is(.dark &) {
    border: 1px solid hsl(0 0 0 / 0.4);
    box-shadow:
      inset 2px 2px 3px hsl(0 0% 0% / 0.3),
        inset -1px -1px 0px hsl(0 0% 100% / 0.2)
    ;
    background-color: hsl(0 0 0 / 0.3);
  }
}
